<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EurekaBankDB"
      connectionString="Data Source=localhost,1433;Initial Catalog=eurekabank_soap_dotnet;User ID=eureka;Password=Eureka2026!;TrustServerCertificate=True"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
  </system.web>
</configuration>
